<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            分类列表
            <small></small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">分类列表</h3>
            </div>
            <!-- /.box-header -->
            <table id="categorylist" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>别名</th>
                            <th>排序</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each list}}
                        <tr>
                            <td>{{addOne @index}}</td>
                            <td>{{title}}</td>
                            <td>{{alias}}</td>
                            <td>{{sort}}</td>
                            <td>
                                {{#if isVisible}} 可见 {{else}} 隐藏 {{/if}}
                            </td>
                            <td>
                                <a href="/admin/category_edit?_id={{_id}}">
                                    编辑 
                                </a> 
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
{{#section 'dataTables'}}
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#categorylist').DataTable({
            "pageLength": 20,
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>
{{/section}}