<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            编辑用户咨询
            <small></small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">编辑用户咨询</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {{#model}}
            <form id="formValidator" role="form" action='/admin/consult_edit/{{_id}}' method='post'>
                <div class="box-body">
                    <div class="form-group">
                        <label for="name">姓名</label>
                        <input type="text" value="{{name}}" name="name" class="form-control" id="name" placeholder="请输入姓名">
                        <span id="nameError" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="tel">联系电话</label>
                        <input type="text" value="{{tel}}" name="tel" class="form-control" id="tel" placeholder="请输入联系电话">
                        <span id="telError" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="remark">备注</label>
                        <textarea id="remark" name="remark" placeholder="请输入备注" style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{{remark}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            <input value="1" type="radio" {{setChecked 1 isRead}} name="isRead" class="minimal-red" checked>
                            已回访
                        </label>
                        <label>
                            <input value="0" type="radio" {{setChecked 0 isRead}} name="isRead" class="minimal-red">
                            未回访
                        </label>
                    </div>
                </div>
                <input type="hidden" value="{{_id}}" name="_id">
                <input type='hidden' name="_csrf" value="{{../csrf}}" />
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
            {{/model}}
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
{{#contentFor 'fonter'}}
<script>
    $(function () {
        $('#formValidator').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            locale: 'zh_CN',
            fields: {
                name: {
                    container: '#nameError',
                    validators: {
                        notEmpty: {
                        }
                    }
                },
                tel: {
                    container: '#telError',
                    validators: {
                        notEmpty: {
                        },
                        phone: {
                            country: 'CN',
                            message: '手机号码格式不正确'
                        }
                    }
                }
            }
        }).on('success.form.fv', function (e) {
            e.preventDefault();
            var $form = $(e.target);
            var fv = $form.data('formValidation');
            fv.defaultSubmit();
        });
    });
</script>
{{/contentFor}}