<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            筛选条件内容列表 {{infos}}
            <small></small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- general form elements -->
        <div class="box box-primary">
            {{#if infos}}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> {{#each infos}}{{this.message}} {{/each}}</h4>
            </div>
            {{/if}}
            {{#model}}
            <div class="box-header with-border">
                <h3 class="box-title">筛选条件内容列表</h3> <a href="/admin/selector_value_add?_id={{_id}}" type="button" class="btn bg-purple">新增</a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="keylist" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>别名</th>
                            <th>排序</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each values}}
                        <tr>
                            <td>{{addOne @index}}</td>
                            <td>{{title}}</td>
                            <td>{{alias}}</td>
                            <td>{{sort}}</td>
                            <td>
                                {{#if isVisible}} 可见 {{else}} 隐藏 {{/if}}
                            </td>
                            <td>
                                <a href="/admin/selector_value_edit?_id={{../_id}}&&id={{id}}">
                                    编辑 
                                </a> 
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/model}}        
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
{{#section 'fonter'}}
<!-- DataTables -->
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(function () {
        $('#keylist').DataTable({
            "pageLength": 20,
            "paging": false,
            "searching": false,
            "info": false
        });
    });
</script>
{{/section}}