	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
			{{#each banners}}
		   	<li style="background-image: url({{pic}});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
								   {{#if price}}
								   <span class="price">￥{{price}}</span>
								   {{/if}}
								   <h2>{{title}}</h2>
								   <p>{{description}}</p>
			   					<p><a href="{{link}}" class="btn btn-primary btn-outline btn-lg">查看详情</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
			{{/each}}
		  	</ul>
	  	</div>
	</aside>

	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			{{#groupedEach 3 products}}
			<div class="row">
				{{#each this}}
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<img src="{{skPic}}" alt="{{title}}" style="width: 100%;">
						<h4 style="margin-top: 20px">{{title}}</h4>
						<p>{{description}}</p>
						<p><a href="/single/{{id}}" class="btn btn-primary btn-outline">查看详情</a></p>
					</div>
				</div>
				{{/each}}
			</div>
			{{/groupedEach}}
		</div>
	</div>

	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>定制家具.</h2>
					<p>诗尼曼家居，始终坚持“绿色家居,高端定制”服务理念，提供卧房，厨房，客厅，书房，餐厅，儿童房的全屋家具定制服务。</p>
				</div>
			</div>
			{{#groupedEach 3 mode}}
			<div class="row">
				{{#each this}}
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url({{skPic}});">
							<div class="inner">
								<p>
									<a href="single/{{id}}" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="single/{{id}}">{{title}}</a>
							</h3>
							{{#if price}}
							<span class="price">￥{{price}}</span>
							{{/if}}
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			{{/groupedEach}}
		</div>
	</div>

	<div id="fh5co-product" style="background: #efefef;">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>配套家具.</h2>
					<p>诗尼曼家居，始终坚持“绿色家居,高端定制”服务理念，提供卧房，厨房，客厅，书房，餐厅，儿童房的全屋家具定制服务。</p>
				</div>
			</div>	
			{{#groupedEach 3 match}}
			<div class="row">
				{{#each this}}
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url({{skPic}});">
							<div class="inner">
								<p>
									<a href="single/{{id}}" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3>
								<a href="single/{{id}}">{{title}}</a>
							</h3>
							{{#if price}}
							<span class="price">￥{{price}}</span>
							{{/if}}
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			{{/groupedEach}}
		</div>
	</div>

