<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{{block "seo"}}}
	<meta name="author" content="{{website.author}}" />
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/css/icomoon.css">
	<!-- Bootstrap  -->
	<link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- Flexslider  -->
	<link href="//cdn.bootcss.com/flexslider/2.6.3/flexslider.min.css" rel="stylesheet">

	<!-- Owl Carousel  -->
	<link href="//cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.css" rel="stylesheet">
	<link href="//cdn.bootcss.com/owl-carousel/1.32/owl.theme.min.css" rel="stylesheet">
  	<link href="//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- Modernizr JS -->
	<script src="//cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	</script>
</head>

<body>
	{{#if infos}}
	<div class="text-center alert alert-warning alert-dismissible" role="alert">
  		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  		<strong>{{#each infos}}{{this.message}} {{/each}}</strong> 
	</div>
    {{/if}}
	<div class="fh5co-loader"></div>

	<div id="pages">
		<nav class="fh5co-nav" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-6 col-sm-2">
						<div id="fh5co-logo"><a href="/">{{website.title}}.</a></div>
					</div>
					<div class="col-md-6 col-xs-6 text-center">
						<ul>
							{{#each category}}
							<li>
								<a href="/{{alias}}">{{title}}</a>
							</li>
							{{/each}} {{!--
							<li class="has-dropdown">
								<a href="/product">产品体验</a>
								<ul class="dropdown">
									<li><a href="#">卧房</a></li>
									<li><a href="#">客厅</a></li>
									<li><a href="#">餐厅</a></li>
									<li><a href="#">书房</a></li>
									<li><a href="#">儿童房</a></li>
								</ul>
							</li>--}}
							<li>
								<a href="/activities">最新活动</a>
							</li>
							<li>
								<a href="/contact">联系我们</a>
							</li>
							<li>
								<a href="/about">关于我们</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-4 text-right hidden-xs menu-2">
						<ul>
							<li class="search">
								<div class="input-group">
									<input id="txtSearch" type="text" placeholder="搜索..">
									<span class="input-group-btn">
						        		<button id="btnSearch" class="btn btn-primary" type="button"><i class="icon-search"></i></button>
						      		</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		{{{body}}}
		<div id="fh5co-started">
			<div class="container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>专业设计师</h2>
						<p>优秀设计师团队，为你打造专属的家</p>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2">
						<form id="formValidator" action="/" method="POST" class="form-inline">
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="name" class="sr-only">姓名</label>
									<input type="text" name="name" class="form-control" id="name" placeholder="姓名">
									<span id="nameError" class="help-block"></span>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<div class="form-group">
									<label for="tel" class="sr-only">联系方式</label>
									<input type="text" name="tel" class="form-control" id="tel" placeholder="联系方式">
									<span id="telError" class="help-block"></span>
								</div>
							</div>
							<input type='hidden' name="_csrf" value="{{csrf}}" />
							<div class="col-md-4 col-sm-4">
								<button type="submit" class="btn btn-default btn-block">免费咨询</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer id="fh5co-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col-md-6 fh5co-widget">
						<h3>{{website.title}}.</h3>
						<p>广州市诗尼曼家居有限公司成立于2003年，总部位于广州市番禺区，占地总面积200余亩，旗下拥有“诗尼曼全屋定制”和“诗尼曼门窗”两大定制核心体系，产品涵盖衣柜、门窗、沙发、床、床垫等多种品类，形成多元化、全方位的定制家居产业格局。公司采用先进的德国豪迈生产线，全自动化、数控化开料、排孔、封边，生产能力与国际接轨。</p>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-md-push-1">
						<ul class="fh5co-footer-links">
							{{#each category}}
							<li>
								<a href="/{{tag}}">{{title}}</a>
							</li>
							{{/each}}
							<li><a href="/activities">专题活动</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 col-md-push-1">
						<ul class="fh5co-footer-links">
							<li><a href="/contact">联系我们</a></li>
							<li><a href="/about">关于我们</a></li>
							<li><a href="/about#gsjj">公司简介</a></li>
							<li><a href="/about#gsry">品牌荣誉</a></li>
						</ul>
					</div>
				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<h2><small class="block">{{website.address}}</small> </h2>
						</p>
						<p>
							<small class="block">{{website.copyright}}</small>
						</p>
						<p>
							<small class="block">{{website.icp}}</small>
						</p>
						{{!--
						<p>
							<ul class="fh5co-social-icons">
								<li><a href="#"><i class="icon-twitter"></i></a></li>
								<li><a href="#"><i class="icon-facebook"></i></a></li>
								<li><a href="#"><i class="icon-linkedin"></i></a></li>
								<li><a href="#"><i class="icon-dribbble"></i></a></li>
							</ul>
						</p>--}}
					</div>
				</div>

			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="//cdn.bootcss.com/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<!-- Bootstrap -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="//cdn.bootcss.com/waypoints/4.0.1/jquery.waypoints.min.js"></script>
	<!-- jQuery query-object-->
	<script src="/js/jquery.query-object.js"></script>
	<!-- Carousel -->
	<script src="//cdn.bootcss.com/owl-carousel/1.32/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="//cdn.bootcss.com/jquery-countto/1.2.0/jquery.countTo.min.js"></script>
	<!-- Flexslider -->
	<script src="//cdn.bootcss.com/flexslider/2.6.3/jquery.flexslider.min.js"></script>
	<script src="//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script>
  	<script src="//cdn.bootcss.com/jquery.bootstrapvalidator/0.5.3/js/language/zh_CN.min.js"></script>
	<!-- Main -->
	<script src="/js/main.js"></script>
	<script>
		$(function () {
			$('#formValidator').bootstrapValidator({
				message: 'This value is not valid',
				feedbackIcons: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				locale: 'zh_CN',
				fields: {
					name: {
						container: '#nameError',
						validators: {
							notEmpty: {
								message: '请输入姓名'
							}
						}
					},
					tel: {
						container: '#telError',
						validators: {
							notEmpty: {
								message: '请输入手机号码'
							},
							phone: {
								country: 'CN',
								message: '手机号码格式不正确'
							}
						}
					}
				}
			}).on('success.form.fv', function (e) {
				e.preventDefault();
				var $form = $(e.target);
				var fv = $form.data('formValidation');
				fv.defaultSubmit();
			});
			$('#btnSearch').click(function () {
				window.location.href = "/result?search=" + $('#txtSearch').val();
			});
		})
	</script>
{{{block "footer"}}}
</body>

</html>